body
{
  position:relative;
  background-color: #28d2a7;
  font-family:"Quicksand";
}

.randomBack
{
  width:100%;
  text-align:center;
  position:relative;
}
.subtitle
{
  color:#e7e7e9;
  /*color:rgb(233, 118, 32);*/
  font-size:0.6em;
  clear:both;
  display:inline-block;
  /*display:block;
  margin-top:1em;*/

}
.contentHolder
{
  position:relative;
}
.leftsideMain
{
  width:60%;
  float:left;
}
.rightsideMain
{
  float:left;
  text-align:left;
  width:40%;
  padding-left:32px;
}

@media (min-width: 768px) and (max-width: 825px) {
   .collapse {
       display: none !important;
   }
}

@media only screen and (max-width: 991px) {
  .leftsideMain{
    float:none;
    width:100%;
    clear:both;
  }
  .rightsideMain
  {
    float:none;
    width:100%;
    clear:both;
    padding-left:0px;
  }
  #signupForm {
    margin-left: 8px;
    padding:0;
    margin-top:16px;
    padding-bottom:16px;
  }
}
.videowrapper
{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videowrapper iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#signupForm
{
  text-align:left;
  font-family: "Quicksand";
  font-weight: normal;
  color:#3d3d3d;
  border-radius: 6px;
  height:100%;
}
#signupForm input
{
  margin-bottom: 16px;
}

#whyForm
{
  margin-bottom: 16px;
  height:8em;
}
#thankyou
{
  display:block;
  clear:both;
}
strong
{
  font-weight: 700;
}
#signupBtn
{
  background-color:rgb(233, 118, 32);
  color:#e7e7e9;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  font-weight:bold;
  font-size:1.2em;

}
#signupBtn:hover
{
  color:#3d3d3d;
}
#signupBtn:active
{
  color:#202020;
}
.friends-logo
{
  height:100px;
}
.blockHeading
{
  text-align:left;
  font-size:1.5em;
  color:#e7e7e9;
  /*color:#666;*/
  font-family: "Quicksand";
}
.horiz-scroller
{
  overflow-x: auto;
}
#logosBox
{
  min-width:861px;
  padding-left:8px;
  text-align:left;
  margin-top:16px;
}
.logo-group
{
  padding-right:50px;
  float:left;
  padding-left:0px;
  text-align:center;

}
.logo-caption
{
  display:block;
  clear:both;
  font-size:0.8em;
  color:#e7e7e9;
}
#form-overlay
{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:rgba(25,25,25,0.9);
  z-index:99;
  text-align:center;
  padding-top:10%;
  padding-left: 24px;
  padding-right:24px;
  display:none;
}
#waitUnicorn
{
  max-width:75%;
  max-height:75%;
}

.block
{
  padding-left:40px;
  padding-right:40px;
  padding-top:16px;
  padding-bottom:16px;
  clear:both;
  min-height:100px;
  float:none;
  
}
.topBlock
{
  padding-top:0px;
  margin-top:0px;
}
.lastBlock
{
  margin-top:0px;
}
.transparentBack
{
  background-color:transparent;
}
.orangeBack
{
  background-color:#d29c28;
}
.redBack
{
  background-color:#d24728;
}
.purpleBack
{
  background-color:#6728d2;
}
.blackBack
{
  background-color:#232323;
}
.block:after {
  content: "";
  display: table;
  clear: both;
}
.teamer-box
{
  min-width:861px;
  text-align:left;
  margin-top:16px;
}
.teamer-group
{
  position:relative;
  text-align: center;
  float:left;
  margin-right:50px;
  cursor: pointer;
}
.teamer
{
  height:150px;
  width:150px;
  border-radius:75px;
}
.teamer-caption
{
  display:block;
  clear:both;
  font-size:0.8em;
  color:#b0b0b0;
}
.teamer-name
{
  /*font-weight: bold;*/
  margin-top:10px;
  font-size:1em;
  color:#e7e7e9;
}
.teamer-writeup
{
  height:100%;
  width:100%;
  background-color:rgba(32,32,32,0.9);
  overflow-y:auto;
  position:absolute;
  left:0;
  top:0;
  font-size:0.6em;
  color:#b0b0b0;
  padding:5px;
  text-align:left;
  display:none;
  border:none;
}
.footer div span
{
  display:block;
  clear:both;
  font-size:0.8em;
  color:#b0b0b0;
}
.footer .address
{
  float: left;
}
.footer .contact
{
  float:right;
}
.copyright
{
  clear:both;
  float:none;
  font-size:0.8em;
  color:#e7e7e9;
  padding-top:2em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#downarrow
{
  position:fixed;
  left:50%;
  bottom:0;
  font-size:5em;
  color:rgba(30,30,30,0.75);
  z-index: 99;
}
#downarrow span
{
  margin-left:-50%;
}

@media only screen and (max-width: 450px) {
  .footer .address
  {
    float: none;
    clear:both;
  }
  .footer .contact
  {
    float:none;
    clear:both;
    margin-top:1em;
  }
}
