html, body{
  margin:0;
  padding:0;
  font-family: courier; /*'Droid Serif', serif;*/
  color:#fff;
  font-size: 14pt;
  height:100%;
  width:100%;
}
.navbar
{
  background-color:transparent;
  border:none;
  padding-left:24px;
  padding-right:24px;
  padding-top:12px;
  padding-bottom:12px;
}
.navbar-toggle
{
  border:none;
}

.navbar-default .navbar-brand
{
  color:#666;
  /*color:rgb(233, 118, 32);*/
}
.navbar-default .navbar-brand:hover
{
  color:#777;
  /*color:rgb(233, 118, 32);*/
}
.navbar-default .navbar-brand:active
{
  color:#fff;
  /*color:rgb(233, 118, 32);*/
}
.navbar-default .navbar-toggle
{
  color:#ffffff;
}
.navbar-default .navbar-nav>li>a
{
  color:#ffffff;
}
.navbar-default .navbar-nav>li>a:hover
{
  color:#ffffff;
}
.navbar-default .navbar-nav>li>a:active
{
  color:#777;
}


.logo
{
  font-family: 'Quicksand', cursive;
  font-size:2em;
  padding:16px;
}
.logo:hover
{
  background-color:transparent;
}
.logo:active
{
  color:inherit;
}
.greenText
{
  color:#02E880;
}